* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  color: #2d3c49;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5em;
}

img {
  display: block;
  height: auto;
}

.name {
  width: 100%;
  text-align: center;
}

.position {
  padding: 0.5em;
  border-bottom: thick solid #7d97ad;
}

.hero {
  padding-top: 1em;
  padding-bottom: 1em;
}

.hero-image {
  max-width: 100%;
}

.featured {
  padding: 0.5em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li {
  width: 100%;
  font-size: 20px;
}

h6 {
  padding-bottom: 1em;
}
