/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

.page {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 175px;
  padding-top: 0.5em;
}

.name {
  font-size: 70px;
  font-weight: 100;
}

.position {
  padding-top: 0.5em;
  padding: 0.25em;
  font-size: 24px;
}

hr {
  height: 3px;
  background-color: #BCBBBB;
  margin: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

/* Hero */
.hero-image {
  max-width: 100%;
  padding: 0.75em;
}

/* Featured Work */
.featured {
  padding: 2em;
}

.featured-title {
  color: #bcbbbb;
  font-weight: 500;
  font-size: 36px;
}

.work-list {
  padding-top: 0.75em;
  padding-bottom: 0.25em;
  width: 100%;
}

p {
  text-align: center;
}

.project-name {
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.project-url {
  padding-bottom: 2em;
  color: #7d97ad;
  font-size: 14px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

/* For desktops */
@media only screen and (min-width: 768px) {

  * {
    padding-left: 2%;
    padding-right: 2%;
  }

  .header {
    display: flex;
  }

  .logo-image {
    width: 20%;
    text-align: left;
    padding-left: 0em;
  }

  .identity {
    width: 80%;
    align-self: center;
    text-align: right;
  }

  .name {
    font-size: 50px;
    padding-right: 0em;
  }

  .position {
    font-size: 20px;
    padding-bottom: 0px;
  }

  hr {
    height: 5px;
  }

.featured-title {
  margin-top: 1em;
}

  .featured {
    padding: 0.5em;
  }

  .projects {
    display: flex;
    margin: 0em;
    padding: 0em;
  }
}
